.DS_Store
.env

application/cache/*
application/logs/*
application/logs/config/config.php
application/logs/config/database.php

!application/cache/index.html
!application/logs/index.html
!application/*/.htaccess

composer.lock
application/tests/build/*
.phpunit.result.cache 