@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	height: auto;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

.indention {
	padding-left: 25rem;
}

.navbar-bg {
	background-color: #efd8b3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container .brand-des {
	color: black;
	font-weight: 800;
	font-size: 1.8rem;
}

#navbarSupportedContent ul li a {
	color: #8e7a74;
}

.btn-bd-login {
	background-color: #175561;
	color: #fff;
	font-weight: 600;
	height: 2.8rem;
}

.button-login-text{
	display: table-cell;
	font-size: 1.4rem; 
	vertical-align:middle;
	font-weight: 800;
}
.btn-bd-getStarted:hover, .btn-bd-login:hover{
    background-color: #196372;
    color: #FFFFFF;
    box-shadow: 0px 10px 11px rgba(44, 39, 39, 0.2); 
    transform: translateY(-0.20em);
}
.home-bg {
	background-color: #e5cfab;
}

.wave-size {
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.positionZ {
	position: relative;
	z-index: 2;
}

.hText-padding-top {
	padding-top: 9.5rem;
	/* padding-left: 1rem; */
}

.home-text h1 {
	font-family: "Poppins", sans-serif;
	/* font-style: normal; */
	font-weight: 900;
	font-size: 4rem;
	line-height: 5.5rem;
    padding-top: 4rem;
	color: #2b1313;
}

.btn-bd-getStarted {
	background-color: #175561;
	color: #fff;
	width: 13rem;
	height: 3.3rem;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
}

.img-size-girl {
	width: 100%;
}

.img-size-girl img {
	width: 100%;
}

.img-size-plant {
    position: absolute;
	left: 0;
	z-index: 1;
}

.img-size-plant img {
    margin-top: 29rem;
	width: 300px;
	height: 200px;
}


/* FEATURES PAGE */
.blackbrd {
    margin-top: 2.5rem;
	height: 34rem;
	width: 56rem;
    z-index: 2;
}
.features-img{
    height: 13rem;
    width: 20rem;
    position: static;
}
.carousel-item img{
    margin: 10rem 32rem 1rem 34rem;
    z-index: 10;
    position: relative;
}
.carousel-indicators{
   left: 0;
   bottom: 0;
   display: inline;
   margin-left: 46rem;
   margin-bottom: 5rem;
   z-index: 10;
}
.desc{
    z-index: 5;
    position: relative;
    padding: 2rem 18.5rem 0 13.5rem;
    color: white;
    font-size: 1rem;
}
.carousel-control-prev{
    position: absolute;
    margin-left: 27rem;
    z-index: 10;
}
.carousel-control-next{
    right: 0;
    position: absolute;
    margin-right: 11rem;
    z-index: 10;
}
h3 {
    font-weight: 500;
}
p {
    font-weight: 200;
}

/* DEVELOPERS PAGE */
.cust-wave-size{
    width: 100vw;
	height: 100vh;
}
.product-holder{
    position: relative;
}
.rectangle{
    height: 35rem;
    width: 80vw;
}
.molecule{
    width: 25rem;
    height: 30rem;
    z-index: 8;
}
.card-img-top{
    margin-top: 2rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color: #A2795E;
    opacity: 98%;
    color: white;
    z-index: 20;
}
.card:hover{
    box-shadow: 0px 10px 11px rgba(44, 39, 39, 0.2); 
    transform: translateY(-0.25em);
}
.card a{
    color: white;
}
.card a:hover{
    color: #175561;
}
div h5{
    font-weight: 600;
    font-size: 1.1rem;
}
div p{
    font-size: 0.9rem;
}

/* CONTACT PAGE */
.home-darkbrown-bg{
    background-color: #E4BE91;
}
.wave-size-2{
    width: 100vw;
    height: 87vh;
    z-index: 1;
}
.contact{
    position: relative;
    z-index: 10;
}
.btn-contact{
    background-color: #0B4B57;
    color: white;
}
.btn-contact:hover{
    color: white;
    background-color: #15788a;
}
.friends{
    height: 15rem;
    width: 13rem;
    margin-top: 17.8rem;
    z-index: 10;
}
.text-custom{
    color: #A2795E;
}

/* FOOTER */
.footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: #fff;
}
.footer-custom{
    position: relative;
    z-index: 5;
    background-color: #0B4B57;
	bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
/* ACCOUNT TYPE PAGE */
.teacherStudent-bg {
    background-color: #52888A;
    color: #fff;
}

.waveSize {
    width: 100vw;
    left: 0;
    z-index: 1;
    height: 100vh;
}

.boxPos {
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.boxWidth {
    width: 75%;
    margin-top: 5rem;
}

.firstBox {
    background-color: rgba(112,95,89, 0.8);;
    padding-left: 5rem;
    border-radius: 15px;
}

.firstBox p {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 3rem;
    
}

.btn-bd-choose {
    background-color: #175561;
    color: #fff;
    font-size: 1.5rem;
}

.boxBorder {
    border-radius: 15px;
    margin-right: 6rem;
    padding: 1rem;
}

.btm-margin {
    margin-bottom: 7rem;
}

.teacherStudent-boy {
    height: 35rem;
    left: 40px;
    top: 50px;
}

.teacherStudent-plant {
    left: 1100px;
    top: 380px;
}


/* LOG IN PAGE */
.navbar-custom{
    background-color: #52888A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.bg-blue{
    background-color: #52888A;
    height: auto;
}
.product-holder{
    position: relative;
}
.image-custom-below{
    width: 100vw;
    z-index: 1;
    height: 100vh;
}
.man{
    z-index: 4;
    height: 40rem;
    padding: 12rem 2rem 0 0;
}
.rectangle-login{   
    background-color: #705F59;
    opacity: 80%;
    height: 28rem;
    width: 58rem;   
    border-radius: 40px;
    margin-top: 42rem;
}
.login-text{
    z-index: 10;
    padding-top: 20rem;
    font-weight: 600;
    color: #fff;
}
.form-inline input{
    margin-left: 2rem;
    margin-right: 2rem;
}
.email{
    margin: 30rem 2rem 0 2rem;    
    position: absolute;
    width: 45rem;
	z-index: 5;
}
.pass{
    margin: 40rem 2rem 0 2rem;
    position: absolute;
    width: 45rem;
	z-index: 5;
}
.btn-custom{
    margin-top: 53rem;
    position: absolute;
    background-color: #175561;
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
}
.form-inline .btn-custom:hover{
    background-color: #18606e;
}
.form-control::-webkit-input-placeholder{
    color: #E4BE91;
    font-weight: 600;
    letter-spacing: 2px;
}
.log-text{
    color: #FFFFFF;
    font-weight: 600;
}
.forgot-pass{
	position: absolute;
	margin-top: 47rem;
	color: #FFFFFF;
	text-align: center;
	
}
.go-to-signup{
    position: absolute;
    margin-top: 59rem;
    color: #FFFFFF;
}
.plant{
    right: 0;
    margin: 25rem 5rem 0 0;
    height: 13rem;
}


/* START OF MEDIA QUERIES */
@media only screen and (max-width: 980px) {
    .img-size-girl{
        padding-top: 10rem;
        padding-left: 3rem;
    }
    .home-text h1 {
		font-size: 3.5rem;
		line-height: 3rem;
	}
    .rectangle-login{
        width: 40rem;
    }
    .email, .pass {
        width: 35rem;
    }
    .man, .plant{
        display: none;
    }
    .carousel-indicators{
        margin-left: 35rem;
    }
    .desc{
        display: none;
        padding: 2rem 15rem 0 13.5rem;
    }
}

@media only screen and (max-width: 1029px) {
    .home-text h1 {
		font-size: 3rem;
		line-height: 3.3rem;
	}
    .positionZ{
        padding-top: 4rem;
    }
    .hText-padding-top{
        padding-top: 5rem;
    }
    .carousel-indicators{
        margin-left: 36rem;
    }
    .carousel-control-prev{
        margin-left: 18rem;
    }
    .carousel-control-next{     
        margin-right: 2rem;
    }
    .carousel h3{
        margin-top: 2rem;
    }
    .desc{
        padding: 0 2rem 0 2rem;
        margin: 0 10rem 0 10rem;
        font-size: 0.8rem;
    }
    .carousel-item img{
        margin: 10rem 50rem 0 29rem;
    }

}
@media only screen and (min-width: 1200px) and (max-width:1200px) {
    .hText-padding-top{
        padding-top: 7rem;
    }
    .rectangle-login{
        width: 40rem;
    }
    .email, .pass {
        width: 30rem;
    }
    .carousel-indicators{
        margin-left: 47rem;
    }
    .carousel-control-prev{
        margin-left: 26rem;
    }
    .carousel-control-next{     
        margin-right: 11rem;
    }
    .desc{
        margin: 0 2rem 0 2rem;
        font-size: 0.8rem;
    }
    .carousel-item img{
        margin: 10rem 50rem 0 35rem;
    }
}
@media only screen and (min-width: 1400px) {  
    .carousel-indicators{
        margin-left: 48rem;
    }
    .carousel-control-prev{
        margin-left: 28rem;
    }
    .carousel-control-next{     
        margin-right: 13rem;
    }
    .desc{
        margin: 0 8rem 0 5rem;
        font-size: 0.8rem;
    }
    .carousel-item img{
        margin: 10rem 50rem 0 40rem;
    }
}