@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	height: 100%;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

.indention {
	padding-left: 25rem;
}

.navbar-bg {
	background-color: #efd8b3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container .brand-des {
	color: black;
	font-weight: 800;
	font-size: 1.8rem;
}

#navbarCollapse ul li a {
	color: #8e7a74;
}

.btn-bd-login {
	background-color: #175561;
	color: #fff;
	font-weight: 600;
	height: 2.8rem;
}

.button-login-text{
	display: table-cell;
	font-size: 1.4rem; 
	vertical-align:middle;
	font-weight: 800;
}

.home-bg {
	background-color: #e5cfab;
}

.wave-size {
	width: 100vw;
	height: 100vh;
}

.positionZ {
	position: relative;
	z-index: 2;
}

.hText-padding-top {
	padding-top: 9.5rem;
	/* padding-left: 1rem; */
}

.home-text h1 {
	font-family: "Poppins", sans-serif;
	/* font-style: normal; */
	font-weight: 900;
	font-size: 4rem;
	line-height: 6.5rem;
	letter-spacing: 0.04em;
	color: #2b1313;
}

.btn-bd-getStarted {
	background-color: #175561;
	color: #fff;
	width: 13rem;
	height: 3.3rem;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
}

.img-size-girl {
	width: 100%;
}

.img-size-girl img {
	width: 100%;
}

.img-size-plant {
	left: 0;
	z-index: 1;
}

.img-size-plant img {
	width: 350px;
	height: 250px;
}

@media only screen and (max-width: 1400px) {
	.home-text h1 {
		font-size: 3.5rem;
		line-height: 5.5rem;
	}
}

/* FEATURES PAGE */
body {
	background-color: #e5cfab;
	background-image: url("bgvector.svg");
	background-size: cover;
}
.feature {
	position: absolute;
	top: 10%;
	left: 22%;
	height: 34rem;
	width: 36rem;
}

.blackbrd {
	height: 38rem;
	width: 56rem;
}
.eye {
	height: 14rem;
	width: 12rem;
	position: absolute;
	bottom: -10%;
	right: 0%;
}

.description {
	font-family: "Poppins", sans-serif;
	font-size: 1.33em;
	color: #fff;
}

.btn {
	font-family: "Poppins", sans-serif;
	font-size: 1.66em;
}

.btn:hover {
	border-bottom: 3px solid #e4be91;
}

.btn:active {
	border-bottom: 3px solid #e4be91;
	color: #e4be91;
}

/* DEVELOPERS PAGE */
.bg-custom{
    background-color: #52888A;
   
}
.product-holder{
    position: relative;
}
.image-custom{
    margin-top: -40px;
    width: 100vw;
}
.rectangle{
    height: 35rem;
    width: 80vw;
}
.molecule{
    width: 25rem;
    height: 30rem;
}
.friends{
    height: 30rem;
    width: 24rem;
	z-index: 9;
}
.footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: #fff;
}
.footer-custom{
    background-color: #0B4B57;
	bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
/* ACCOUNT TYPE PAGE */
.teacherStudent-bg {
    background-color: #52888A;
    color: #fff;
}

.waveSize {
    width: 100vw;
    left: 0;
    z-index: 1;
    height: 100vh;
}

.boxPos {
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.boxWidth {
    width: 75%;
    margin-top: 5rem;
}

.firstBox {
    background-color: rgba(112,95,89, 0.8);;
    padding-left: 5rem;
    border-radius: 15px;
}

.firstBox p {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 3rem;
    
}

.btn-bd-choose {
    background-color: #175561;
    color: #fff;
    font-size: 1.5rem;
}

.boxBorder {
    border-radius: 15px;
    margin-right: 6rem;
    padding: 1rem;
}

.btm-margin {
    margin-bottom: 7rem;
}

.teacherStudent-boy {
    height: 35rem;
    left: 40px;
    top: 50px;
}

.teacherStudent-plant {
    left: 1100px;
    top: 380px;
}


/* LOG IN PAGE */
.navbar-custom{
    background-color: #52888A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.bg-blue{
    background-color: #52888A;
    min-height: 100vh;
}
.product-holder{
    position: relative;
}
.image-custom-below{
    width: 100vw;
    z-index: 1;
    height: 100vh;
}
.man{
    z-index: 4;
    height: 40rem;
    padding: 12rem 2rem 0 0;
}
.rectangle-login{   
    background-color: #705F59;
    opacity: 80%;
    height: 28rem;
    width: 58rem;   
    border-radius: 40px;
    margin-top: 42rem;
}
.login-text{
    z-index: 10;
    padding-top: 20rem;
    font-weight: 600;
    color: #fff;
}
.form-inline input{
    margin-left: 2rem;
    margin-right: 2rem;
}
.email{
    margin: 30rem 2rem 0 2rem;    
    position: absolute;
    width: 45rem;
	z-index: 5;
}
.pass{
    margin: 40rem 2rem 0 2rem;
    position: absolute;
    width: 45rem;
	z-index: 5;
}
.btn-custom{
    margin-top: 53rem;
    position: absolute;
    background-color: #175561;
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
}
.form-inline .btn-custom:hover{
    background-color: #18606e;
}
.form-control::-webkit-input-placeholder{
    color: #E4BE91;
    font-weight: 600;
    letter-spacing: 2px;
}
.log-text{
    color: #FFFFFF;
    font-weight: 600;
}
.forgot-pass{
	position: absolute;
	margin-top: 47rem;
	color: #FFFFFF;
	text-align: center;
	
}
.go-to-signup{
    position: absolute;
    margin-top: 59rem;
    color: #FFFFFF;
}
.plant{
    right: 0;
    margin: 25rem 5rem 0 0;
    height: 13rem;
}

/* START OF MEDIA QUERIES */
@media only screen and (max-width: 980px) {
    .rectangle-login{
        padding-top: 5rem;
        width: 40rem;
    }
    .email, .pass {
        width: 35rem;
    }
    .man, .plant{
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .rectangle-login{
        padding-top: 5rem;
        width: 40rem;
    }
    .email, .pass {
        width: 30rem;
    }
}

@media only screen and (max-width: 1300px) {
    .teacherStudent-plant {
        height: 15rem;
        left: 900px;
        top: 380px;
    }
}

@media only screen and (max-width: 1400px) {
    .teacherStudent-plant {
        height: 15rem;
        left: 1000px;
        top: 380px;
    }
}